.verify-form {
    width: min(90%, 450px);
    min-height: 55vh;

    background: linear-gradient(
        160deg,
        #fdaa2d,
        #78854f,
        #2b301a
    );

    border-radius: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 4rem;
    box-sizing: border-box;

    gap: 2rem;
}

/*prvio text */

.verify-header {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
}


.verify-icon {
    width: 60px;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #f5ebdd;
    border-radius: 50%;

    font-size: 1.8rem;

    margin-bottom: 1rem;
}


.verify-header h2 {
    margin: 0;

    font-family: Georgia, serif;

    font-size: clamp(1.7rem, 3vw, 2.3rem);

    color: #181818;

    letter-spacing: 1px;
}




/**/
.verification-code {
    display: flex;
    justify-content: center;
    gap: 0.6rem;

    width: 100%;
}


.verification-code input {
    width: 45px;
    height: 50px;

    box-sizing: border-box;
    border: none;
    border-radius: 10px;

    background-color: #f5ebdd;

    color: #181818;

    text-align: center;

    font-size: 1.3rem;
    font-weight: 600;

    outline: none;
}


.verification-code input:focus {
    box-shadow: 0 0 0 2px #fdaa2d;
}



/*verify button*/

.verify-actions > button:first-child {
    width: 100%;

    padding: 0.8rem;

    border: none;
    border-radius: 10px;

    background-color: #f5ebdd;
    color: #1c1d1c;

    font-size: 1rem;
    font-weight: 600;

    cursor: pointer;

    transition: 0.2s ease;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.verify-actions > button:first-child:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    transform: none;
}



.verify-actions {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 2%;
}

.verify-error {
    min-height: 1rem;

    margin-top: 0.4rem;

    color: #8b2e2e;

    font-size: 1rem;

    text-align: center;
}



/*resend button*/

.resend-button {
    min-width: 180px;
    width: 20px;
    
    margin-top: 1rem;

    background: none;
    border-radius: 9px;

    color: #f5ebdd;

    font-size: 1rem;

    padding: 0.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resend-button:hover {
    text-decoration: underline;
}

.resend-button:disabled{
    opacity: 0.5;
    cursor: not-allowed;
    transform: none;
}
