.verify-page {
    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 100vh;
    width: 100%;
    gap: 0;
}


.verify-page {
    background: linear-gradient(
        135deg,
        #e9c9a0,
        #b9b79c,
        #858c6a,
        #e9c9a0
    );
}