/*glavnio div*/

.login-form {
    width: 30%;
    min-height: 550px;

    background: linear-gradient(
        #2b301a,
        #78854f,
        #78854f,
        #fdaa2d
    );

    /*background-color: #78854f;*/
            /*#198643*/

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 2.5rem;
    box-sizing: border-box;

    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;

    gap: 0.5rem;
}


/*za bikvite najgore*/

.login-form > div:first-child {
    font-family: Georgia, serif;
    font-size: clamp(1.8rem, 3vw, 2.5rem);
    font-weight: 600;

    color: #181818;

    margin-bottom: 1rem;
}



/*za inputite */

.login-form input {
    width: 100%;
    max-width: 320px;
    box-sizing: border-box;

    padding: 0.75rem 1rem;

    border: none;
    border-radius: 10px;

    background-color: #f5ebdd;
    color: #131212;

    font-size: 1rem;
    outline: none;
}

.login-form input:focus {
    box-shadow: 0 0 0 2px #5f6b3f;
}

.login-form input::placeholder {
    color: #777;
}



/*klasa so ja imat divovoite u koj ima input i error msg*/

.form-field-login {
    width: 100%;
    max-width: 320px;

    display: flex;
    flex-direction: column;

    height: 4.0rem;
}

.form-field-button-login {
    width: 100%;
    max-width: 180px;

    display: flex;
    flex-direction: column;
    align-items: center;


    height: 4.0rem;
}

.form-field-button-login > div{
    color: #8b2e2e;
    font-size: 0.80rem;

    height: 1rem;
    margin-top: 0.2rem;
}





.login-form button {
    width: 100%;
    padding: 0.75rem;

    border: none;
    border-radius: 10px;

    background-color: #f5ebdd;
    color: #1c1d1c;

    font-size: 1rem;
    font-weight: 600;

    cursor: pointer;
    transition: 0.2s ease;

    display: flex;
    flex-direction: column;
    align-items: center;
} 

.login-form button:hover {
    background-color: #fcdeb1;
}

.login-form button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    transform: none;
} /*nema uste za login proveri */





.login-form a {
    color: #2b301a;
    text-decoration: none;
    font-size: 1.2rem;

    margin-top: 0.5rem;
}

.login-form a:hover {
    text-decoration: underline;
}

